h1 {
font-size: 20;
color: blue;

}

th{
align-content: center;
color: red;
background: black;

}

a{
font-style: bold;
color:red;

}

td{
padding: 0px 5px 0px 5px;
background: grey;
color: yellow;
}

td:nth-child(1){
color:grey;
background: yellow;

}
#pie{
color:red;
font-size: 12px;
}